// Custom Styles

// Website Theme/Bootstrap
$theme-colors: (
	"dark": #2B2D42,
	"blue": #00A6C9,
	"gray": #EBEBEC,
	"red": #C20114
);

// Import bootstrap SCSS
@import "../../node_modules/bootstrap/scss/bootstrap";

//SCSS Variables
$dark: #2B2D42;
$red: #C20114;
$blue: #00A6C9;
$gray: #EBEBEC;

// Font Family Declarations
// font-family: 'Francois One', sans-serif;
// font-family: 'Lato', sans-serif;
// font-family: 'Caveat', cursive;

//Global Declarations
h1, h2, h3, h4, h5, h6 {
	font-family: 'Francois One', sans-serif;
}

html,
body {
	max-width: 100%;
	overflow-x: hidden;
}

body {
	font-family: 'Lato', sans-serif;
}

a {
	color: $blue;

	&:hover {
		color: #0086A3;
	}
}

hr {
	border: 0;
	height: 1px;
	background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
	background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
	background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
	background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
}

// Back to top button
#backToTop {
	display: inline-block;
	background-color: $red;
	width: 50px;
	height: 50px;
	text-align: center;
	text-decoration: none;
	border-radius: 4px;
	position: fixed;
	bottom: 30px;
	right: 30px;
	transition: background-color .3s, 
	opacity .5s, visibility .5s;
	opacity: 0;
	visibility: hidden;
	z-index: 1000;
}
#backToTop::after {
	content: "\f077";
	font-family: FontAwesome;
	font-weight: normal;
	font-style: normal;
	font-size: 2em;
	line-height: 50px;
	color: #fff;
}
#backToTop:hover {
	cursor: pointer;
	background-color: $red;
}
#backToTop:active {
	background-color: $red;
}
#backToTop.show {
	opacity: 1;
	visibility: visible;
}

// Header
#nav {
	.navbar {
		// background-color: rgba(0,0,0,0.05);

		.navbar-brand {
			font-family: 'Caveat', cursive;
			font-size: 24px;
			color: $white;
			text-transform: uppercase;
			margin-left: 1rem;
		}
		.navbar-nav {
			background-color: rgba(0,0,0,0.5);

			.nav-item {
				margin: 0 15px;
			
				.nav-link {
					font-family: 'Lato', sans-serif;
					font-weight: bold;
					color: $white;

					&:hover {
						text-decoration: underline;
					}
				}			
			}
			.nav-item.active {
				text-decoration: underline;
			}
		}
		.navbar-toggler-icon .fas {
			color: $white;
			vertical-align: middle;
		}
	}
	.fixed-top {
		transition:background-color 200ms linear;
	}
	.fixed-top.scrolled {
		background-color: #fff !important;
		transition: background-color 200ms linear;
		-webkit-box-shadow: 0px 2px 10px 0px rgba(43,45,66,0.5);
		-moz-box-shadow: 0px 2px 10px 0px rgba(43,45,66,0.5);
		box-shadow: 0px 2px 10px 0px rgba(43,45,66,0.5);
	}
	.fixed-top.scrolled {
		.navbar-brand {
			color: $red;
		}
		.navbar-nav {
			background-color: transparent;

			.nav-item {
				.nav-link {
					color: $dark;
				}
			}
		}
		.navbar-toggler-icon .fas {
			color: $dark;
		}	
	}
}

// Home Page

// Carousel
#carousel {
	.carousel-inner {
		.carousel-item {
			img {
				filter: brightness(60%);
				height: 100vh;
				object-fit: cover;
			}
		}
		.carousel-caption {
			bottom: 0;
			padding: 0;
			height: 100vh;

			h1 {
				text-transform: uppercase;
				text-shadow: 0px 2px 2px #2B2D42;
				font-size: 2rem;
			}
		}
	}
}

// Featured
#featured {
	h1 {
		text-transform: uppercase;
		letter-spacing: 5px;
		font-size: 2rem;
	}
	.card-body {
		text-align: center;

		.badge {
			font-size: 70%;
			vertical-align: top;
		}
		.btn {
			background-color: $red;
			color: white;
		}
		.btn-icon {
			border-radius: 50px;
			padding: 10px;
			width: 50px;
			height: 50px;
			position: relative;
			overflow: hidden;
			transition: all .5s;
			-webkit-transition: all .5s;
			-moz-transition: all .5s;
		}
		// .btn-icon:hover {
		// 	width: 50%;
		// }
		// .btn-icon:before {
		// 	content: 'YUM!';
		// 	display: block;
		// 	position: absolute;
		// 	left: -120%;
		// }
		// .btn-icon:hover:before {
		// 	left: 28%;
		// }
		// .btn-icon:hover .fa-utensils{
		// 	left: 30%;
		// 	position: relative;
		// }
	}
}

// Blog
#blog {
	h1 {
		text-transform: uppercase;
		letter-spacing: 5px;
		font-size: 2rem;
	}
	.card-img-top {
		height: 240px;
	}
	.card-body {
		text-align: center;

		.badge {
			font-size: 70%;
			vertical-align: top;
		}
		.btn {
			background-color: $red;
			color: white;
		}
		.btn-icon {
			border-radius: 50px;
			padding: 10px;
			width: 50px;
			height: 50px;
			position: relative;
			overflow: hidden;
			transition: all .5s;
			-webkit-transition: all .5s;
			-moz-transition: all .5s;
		}
		// .btn-icon:hover {
		// 	width: 40%;
		// }
		// .btn-icon:before {
		// 	content: 'YUM!';
		// 	display: block;
		// 	position: absolute;
		// 	left: -120%;
		// }
		// .btn-icon:hover:before {
		// 	left: 28%;
		// }
		// .btn-icon:hover .fa-utensils{
		// 	left: 30%;
		// 	position: relative;
		// }
	}
}

// Vlog
#vlog {
	h1 {
		text-transform: uppercase;
		letter-spacing: 5px;
		font-size: 2rem;
	}
}

// Subscribe
#subscribe {
	text-align: center;

	h4 {
		span {
			font-family: 'Caveat', cursive;
			font-size: 24px;
			color: $red;
			margin: 0 10px;
			text-transform: uppercase;
		}
	}

	.form-inline {
		justify-content: center;
	}

	.btn {
		margin-top: 1rem;
	}
}

// About Page

// Jumbotron
#aboutHeader {
	.jumbotron-fluid {
		background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
		var(--image-url) no-repeat center center;
		background-size: cover;
		min-height: 100vh;
		color: $white;
		text-align: center;

		h1 {
			text-transform: uppercase;
			text-shadow: 0px 2px 2px #2B2D42;
			font-size: 2rem;
		}
		p.lead {
			font-size: 1rem;
		}
	}	
}

#aboutContent {
	.row {
		div:nth-of-type(2) {
			margin-top: 1rem;
		}
	}

	a > img {
		border-radius: 10px;
	}
}

// Blog Page

// Jumbotron
#blogHeader {
	.jumbotron-fluid {
		background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
			var(--image-url) no-repeat center center;
		background-size: cover;
		min-height: 100vh;
		color: $white;
		text-align: center;

		h1 {
			text-transform: uppercase;
			text-shadow: 0px 2px 2px #2B2D42;
			font-size: 2rem;
		}
		p.lead {
			font-size: 1rem;
		}
	}
}

// Contact Page

// Jumbotron
#contactHeader {
	.jumbotron-fluid {
		background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
			var(--image-url) no-repeat center center;
		background-size: cover;
		min-height: 100vh;
		color: $white;
		text-align: center;

		h1 {
			text-transform: uppercase;
			text-shadow: 0px 2px 2px #2B2D42;
			font-size: 2rem;
		}
		p.lead {
			font-size: 1rem;
		}
	}
}

#contactContent {
	.row {
		div:nth-of-type(2) {
			margin-top: 1rem;
		}
	}
}

// Blog Articles

#blogInsideHeader {
	.jumbotron-fluid {
		background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
			var(--image-url) no-repeat center center;
		background-size: cover;
		min-height: 100vh;
		color: $white;
		text-align: center;

		h1 {
			text-transform: uppercase;
			text-shadow: 0px 2px 2px #2B2D42;
			font-size: 2rem;
			padding: 0 20px;
		}
		p.lead {
			font-size: 1rem;
		}
	}
}

#blog {
	.card-body .btn-icon:hover {
		width: 50%;
	}

	article {
		h2 {
			padding: 6px 0 6px 12px;
			border-left: 6px solid #c20114;
			font-size: 1.4rem;
			line-height: 1.3;
			margin-top: 2rem;
		}
	}

	.recommended-articles {
		h3 {
			position: relative;
			margin: 8px 0 16px;
			padding-bottom: 6px;
			border-bottom: 1px solid #ddd;
			font-size: 1.2rem;
			font-weight: bold;

			&:before {
				position: absolute;
				bottom: -2px;
				left: 0;
				content: '';
				width: 80px;
				height: 3px;
				background: #c20114;
			}
		}

		ul {
			li {
				list-style: none;

				a {
					color: $dark;

					&:hover {
						color: #0086A3;
						text-decoration: none;
					}
				}
			}

			li + li {
				margin: 10px 0;
			}
		}
	}
}

// Modal

.modal-dialog {
	margin-left: 1rem;
	margin-right: 1rem;
	max-width: 100%;
}

.modal-body {
	margin: 0 auto;
}

// Media Queries

// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {  }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
	
	#nav {
		.navbar {
			.navbar-brand {
				font-size: 34px;
			}

			.navbar-nav {
				background-color: transparent;
			}
		}
	}

	#carousel {
		.carousel-inner {
			.carousel-caption {
				h1 {
					font-size: 50px;
				}
			}
		}
	}

	#featured h1, #blog h1, #vlog h1 {
		letter-spacing: 10px;
		font-size: 2.5rem;
	}

	#aboutHeader {
		.jumbotron-fluid {
			h1 {
				font-size: 50px;
			}
			p.lead {
				font-size: 1.25rem;
			}
		}	
	}

	#aboutContent {
		.row {
			div:nth-of-type(2) {
				margin-top: 0;
			}
		}
	}

	#blogHeader {
		.jumbotron-fluid {
			h1 {
				font-size: 50px;
			}
			p.lead {
				font-size: 1.25rem;
			}
		}	
	}
	
	#blogInsideHeader {
		.jumbotron-fluid {
			h1 {
				font-size: 50px;
				padding: 0 1rem;
			}
			p.lead {
				font-size: 1.25rem;
			}
		}	
	}

	#contactHeader {
		.jumbotron-fluid {
			h1 {
				font-size: 50px;
			}
			p.lead {
				font-size: 1.25rem;
			}
		}	
	}

	#contactContent {
		.row {
			div:nth-of-type(2) {
				margin-top: 0;
			}
		}
	}

	#subscribe {
		h4 {
			span {
				font-size: 30px;
			}
		}

		.btn {
			margin-top: 0;
		}
	}

	#blog .card-body .btn-icon:hover {
		width: 40%;
	}

	#featured .card-body .btn-icon:hover {
		width: 20%;
	}

	#sticky-footer {
		.row {
			div:nth-of-type(1) {
				text-align: left;
			}

			div:nth-of-type(3) {
				text-align: right;
			}
		}
	}

	.modal-dialog {
		margin-left: 5rem;
		margin-right: 5rem;
	}
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

	#featured {
		.card-body {
			.btn-icon:hover {
				width: 14%;
			}
			.btn-icon:before {
				content: 'YUM!';
				display: block;
				position: absolute;
				left: -120%;
			}
			.btn-icon:hover:before {
				left: 28%;
			}
			.btn-icon:hover .fa-utensils{
				left: 30%;
				position: relative;
			}
		}
	}

	#blog {
		.card-body {
			.btn-icon:hover {
				width: 50%;
			}
			.btn-icon:before {
				content: 'YUM!';
				display: block;
				position: absolute;
				left: -120%;
			}
			.btn-icon:hover:before {
				left: 28%;
			}
			.btn-icon:hover .fa-utensils{
				left: 30%;
				position: relative;
			}
		}
	}
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
	#blog {
		.card-body {
			.btn-icon:hover {
				width: 40%;
			}
		}
	}
}